*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    background-color: aqua;
    width: 30%;
    height: 35vh;
    padding: 15px;
    display: flex;
    gap: 15px;
}

.parent .child{
    background-color: burlywood;
    border: 3px solid white;
    width: 150px;
    height: 120px;
}

.child span.span-1 h3{
    color: white;
    margin: 10px;
}

.child span.span-2 h3{
    color: white;
    margin: 10px;
}