
.ul-list-2 li{
    list-style-type: circle;        
    list-style-position: inside;    
    background-color: #FFFF00; 
    padding: 5px;   
}

.code{
    color: red;
    border: 8px solid blueviolet;
    padding: 5px;
}

.span span{
    background-color: #1E90FF;
    color: black;
}

.paragraph p{
    color: #5B88BD;
}

.outside .outside-span{
    background-color: green;
    color: black;
    display: block;
}

#outside #outside-span{
    color: #FF9171;
}

.special .special-span{
    display: block;
    background-color: green;
    color: black;
}

a{
    color: #0000EF;
}

.google{
    background-color: #FFFF00;
}